progress.weak::-webkit-progress-value {
  background: #900;
}

progress.medium::-webkit-progress-value {
  background: #FFA500;
}

progress.strong::-webkit-progress-value {
  background: #060;
}

progress.weak::-moz-progress-bar {
  background: #900;
}

progress.medium::-moz-progress-bar {
  background: #FFA500;
}

progress.strong::-moz-progress-bar {
  background: #060;
}

.strong {
  color: #060;
  border-color: #0F0;
}

.medium {
  color: #FFA500;
  border-color: #FC0;
}

.weak {
  color: red;
  border-color: #F00;
}

